<!doctype html>
<html>
  <head>
    <title>Delete Card</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container mt-5">
      <div class="alert alert-danger">
        <h4>Are you sure you want to delete?</h4>

        <p><b>{{ card.name }}</b> ({{ card.card_number }})</p>

        <form method="post">
          {% csrf_token %}

          <button class="btn btn-danger">Yes Delete</button>
          <a href="/" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </body>
</html>
